body {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
  }
  
  .container {
    border: 0px solid #dedede;
    background-color: #ffffff;
    border-bottom:solid #d1d4d6 1px;
    padding: 10px;
    margin: 0px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    img {
      float: left;
      max-width: 80px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%;
      &.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
      }
    }
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
#div1{
border-bottom:solid #d1d4d6 1px;
width: 50%;
height: 50%;
float: left;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
#div2{
border-bottom:solid #d1d4d6 1px;
border-left:solid #d1d4d6 1px;
width: 50%;
height: 50%;
float: left;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
#div3{
border-bottom:solid #d1d4d6 1px;
width: 50%;
height: 50%;
float: left;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
#div4{
border-bottom:solid #d1d4d6 1px;
border-left:solid #d1d4d6 1px;
width: 50%;
height: 50%;
float: left;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
#div5{
border-bottom:solid #d1d4d6 1px;
width: 50%;
height: 50%;
float: left;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
#div6{
border-bottom:solid #d1d4d6 1px;
border-left:solid #d1d4d6 1px;
width: 50%;
height: 50%;
float: left;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
#person{
font-size:1.5vw;
}
#div1 #text1{
color: rgb(0, 0, 0);
text-align: center;
}
